html{
    height: auto;
    box-sizing: border-box;
    padding: 0;
}

body{
    margin: 0;
    background: #0f0e0e;
    padding: 0;
}


.top-nav-class{
    position: relative;
    height: 100px;
    display: flex;
    background: #282829;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
}


.top-nav-class > a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
    color:azure;
    padding: 40px 20px;
    text-align: center;
}

.top-nav-class a:nth-child(2){
    background: #b7e8bf;
}
#nav-icon-address{
    width: 100%;
    display: none;
}

nav > a:hover{
    background: #856f34;
}

.top-nav-class > #website-icon{
    display: block;
    height: 100%;
    padding-right: 1rem;
}

@media screen and (max-width: 730px){
    .top-nav-class > a:not(:nth-child(2)){
        display: none;
    }
    .top-nav-class > #nav-icon-address{
        display: block;
        max-width: 80%;
        max-height: 100%;
        margin-left: auto;
    }
}

@media screen and (max-width: 730px){
    .top-nav-class.responsive > #website-icon{
        height: 100px;
    }
  

    .top-nav-class.responsive > #nav-icon-address{
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 0px;
        margin: 0px;
        height: auto;
    }

    #nav-icon-address{
        width: 100%;
    }
    .top-nav-class.responsive > a{
        padding: 40px 0;
        display: block;
        width: 100%;
    }
    .top-nav-class.responsive {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
        padding: 0;
        align-items: center;
    };
}   

.search-bar-container{
    background: green;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    max-width: 700px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar-container input{
    max-width: 83.33%;
    background: transparent;
    flex: 1;    
    border: 0;
    outline: none;
    padding: 24px 1.25rem;
    font-size: 20px;
    color: #cac7ff;
}

.search-bar-container button img{
    width: 25px;
}

.search-bar-container button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

::placeholder{
    color: #cac7ff;
}

